@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-accent: #FFC0CB;
  --color-accent-light: #FFD1DC;
}

body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  background-color: #ffffff;
  color: #333333;
}
